
    {% extends "base.html" %}

    {% block content %}
    <h1>Spec Companion - Flashcard App</h1>

    {% macro render_tree(nodes) %}
      <ul>
        {% for node in nodes %}
          <li class="spec-item">
            {% if node.children %}
              <button type="button" class="tree-toggle"> <a href="{{ url_for('spec_point', id=node.id )}}"> {{node.title}} </a> </button>
              {{ render_tree(node.children)}}
            {% else %}
            <a href="{{ url_for('spec_point', id=node.id )}}"> {{node.title}} </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endmacro %}
    
    {{ render_tree(spec_points) }}
    {% endblock %}